.results-page {
  padding: 2rem;
}

.results, .btn-container, .offers-subheading {
    max-width: 1300px;
    width: 70%;
    margin: 0 auto;
}

.offer {

}

.offers-subheading {
    color: #888;
    font-style: italic;
}

.selected {
    background-color: #e9fbdc;
}

th {
  text-align: left;
  margin-bottom: 1rem;
}

tr {
  cursor: pointer;
}

th, td {
  padding: .4rem;
}

.btn-container {
  text-align: right;
    padding-right: 3rem;
    margin-top: 1rem;  
}

.btn-results {

}




.reactable-page-button {
  margin-left: 5px;
  margin-right: 2px;
  margin-bottom: 6px;
  padding: 3px;
  width: 30px;
  float: left;
  cursor: pointer;
  color: #000;
  border: 1px solid #AAA;
  background-color: #EEE;
  text-align: center;
  border-radius: 5px;
}

.reactable-page-button:hover {
  text-decoration: none;
  color: #333;
  background-color: #DDD;
}

.reactable-current-page {
  background-color: #DDD;
  cursor: default;
}

th {
  cursor: pointer;
}

th.reactable-header-sortable:after {
    content: '\25BC';
    font-size: 10px;
    padding-left: 10px;
    padding-bottom: 5px;  
    color: #ccc;  
}

th.reactable-header-sort-desc, th.reactable-header-sort-asc {
    outline: 0;
  /*background-color: #fffcab;*/
    color: #6ae4c4;
    /*color: #777;  */
}

th.reactable-header-sort-desc:after {
  content: '\25B2';
  font-size: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
}

th.reactable-header-sort-asc:after {
  content: '\25BC';
  font-size: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
}

tr.reactable-filterer {
  width: 100%;
}

tr.reactable-filterer td {
  width: 100%;
}

.reactable-filter-input {
  width: 95%;
  margin-left: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 20px;
  padding: 5px;
    margin-left: 0;
    padding: 0.6rem;  
    margin-bottom: 1.4rem;    
    left: -8px;    
}