.selected-offers {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
}

.selected-offers div:nth-child(1) {
    margin-bottom: 2rem;
}

.graph {

}

.back-button {
   color: #87b3ca;
   cursor: pointer;
}