.new-submission {
    padding: 3rem;      
}

.submission-headline {
    text-align: center;
    color: #444;
    margin: 0 0 3rem;
}

form {
    max-width: 470px;
    width: 90%;
    margin: 0 auto;

}

.form-group {
    margin-bottom: .8rem;
}

label {
    margin-bottom: .5rem;
    display: block;
}

input {
    padding: 0.6rem;
    font-size: 0.9rem;
    width: 100%;
}

input.shortened {
    width: 65%;
}

.btn-default {
padding: 0.9rem;
    font-size: 1rem;
    background-color: #20a285;
    border: none;
    color: #fff;
    margin-top: 1rem;    
}

.btn-default:disabled {
    background-color: rgba(32, 162, 133, 0.4);
    cursor: pointer;
}

.form-error {
    color: red;
    position: absolute;
    transform: translateX(100%);
    right: -10px;
    top: 9px;    
}